{% extends "layout.html" %}

{% block content %}
<main class="about-section">
    <div class="container">

        <h2>About Learing Flask</h2>
        <p>
            I am going through the Lynda.com course on using the Flask framework. I am using this space to
            demonstrate that I am capable of doing all these wonderful things that Flask lets you do.
            I Hope you enjoy the functionality of this Demo web app.
        </p>
        <h2>The Actual App</h2>
        <p>
            This app will allow you to find new places around you. With this app you can finde places you like,
            and discover new points of interest wherever you are.
        </p>

    </div>
</main>
{% endblock %}